<div class="container">
  <h1 class="index-title m-4">Open tickets</h1>

  <input type="text" id="search-bar" class="index-title mb-4" placeholder="Find a ticket" />
  <% @tickets.each do |ticket| %>
    <%= link_to(ticket_path(ticket)) do  %>
      <div class="cards">
        <div class="card-product">
          <img src="https://images.unsplash.com/photo-1513265472937-50d3e680377c?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2849&q=80" />
          <div class="card-product-infos">
            <p id="card-title"><%= ticket.title %></p>
            <p>Ticket master : <%= ticket.user.first_name %></p>
            <p>Ticket creation : <%= ticket.created_at %></p>
            <p>Number of comments : <%= ticket.comments.count %></p>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
